<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" href="/sheetpost/static/logo.png">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/sheetpost/static/styles.css">
    {% include 'bootstrap.html.twig' %}
</head>
<body>
<header>
    <div class="container-fluid d-flex h-100 align-items-center p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <div class="container-fluid" id="navbarContainer">
                <a class="navbar-brand" {% block logohref %}{% endblock %}>
                    <!--suppress HtmlUnknownTarget -->
                    <img src="/sheetpost/static/logo.png" alt="" width="24" height="24"
                         class="d-inline-block align-text-top">
                    SheetPost
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% block myposts %}{% endblock %}
                    </div>
                    <div class="navbar-nav">
                        {% block buttons %}{% endblock %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% if posts is empty %}
    <p class="text-center fs-1 m-0 m-auto pt-5 pb-5">{% block noposts %}{% endblock %}</p>
{% else %}
    <div class="posts m-0 m-auto pb-3">
        {% for post in posts %}
            <div class="card w-100 mt-3">
                <div class="card-body">
                    <p class="card-text d-flex justify-content-between">
                        <span class="card-title fs-5 mb-0"><strong>@{{ post.username }}</strong></span>
                        {% if user is not null and user == post.username %}
                            <span class="align-items-center">
                                <!--suppress HtmlUnknownTarget -->
                                <img src="/sheetpost/static/edit.svg" role="button" class="post-control edit d-inline-block" alt="" width="20" height="20">
                                <!--suppress HtmlUnknownTarget -->
                                <img src="/sheetpost/static/delete.svg" role="button" class="post-control delete d-inline-block" alt="" width="24" height="24">
                            </span>
                        {% endif %}
                    </p>
                    {% for line in post.message|split("\n") %}
                        <p class="card-text mb-0">{{ line }}</p>
                    {% endfor %}
                    <p class="card-text mt-2 d-flex justify-content-between">
                        <small class="text-muted">{{ post.date }}</small>
                        <span id="post{{ post.id }}"
                              {% block sheetrole %}{% endblock %}
                              class="sheet d-flex align-self-center">
                            <span class="me-2">
                                {% if post.sheet_count > 0 %}
                                    {{ post.sheet_count }}
                                {% endif %}
                            </span>
                            <!--suppress HtmlUnknownTarget -->
                            <img src="/sheetpost/static/logo.png" alt="" width="24" height="24"
                                 class="{% if post.sheeted %}sheeted{% else %}unsheeted{% endif %} d-inline-block align-text-top">
                        </span>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% block script %}{% endblock %}
</body>
</html>